/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    line-height: 1.6;
}

.text {
    font-size: 20px;
}

.moreText {
    display: none;
}

.button {
    padding: 15px 25px;
    background-color: #333;
    border-color:rgb(61, 113, 209);
    border: none;
    outline: none;
    cursor: pointer;
    color:rgb(255, 255, 255);
    font-size: 15px;
    font-weight: bold;
    border-radius: 10px;
}

.text.show-details .moreText {
    display:inline;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    bottom: 0;
    width: 100%;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 0 10px;
}

nav ul li a {
    position: relative;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px; 
    background-color: white; 
    transition: width 0.3s ease; 
}

nav ul li a:hover::after {
    width: 100%; 
}

section {
    padding: 20px;
    margin: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
}

h2 {
    color: #333;
}

/* Media Queries for Mobile Devices */
@media only screen and (max-width: 600px) {
    header, footer {
        padding: 10px;
    }

    nav ul li {
        display: block;
        text-align: center;
        margin: 5px 0;
    }

    section {
        padding: 10px;
        margin: 10px;   
    }

    .distant-space {
        min-height: 80px; 
    }
}
