html {
    scroll-behavior: smooth;
}


:root {
    --background-color: #f4f4f4;
    --header-footer-color: #414fc9;
    --button-color: #c3b13b;
    --word-color: #f4f4f4;
    --title-color: #3f78e9;
    --box-shadows: 0 0 10px rgba(0, 0, 0, 0.673);
    --media-icons: #32adbd;
    --text-color: #000000;
}
.darkmode {
    --background-color: #070b1d;
    --header-footer-color: #101425;
    --button-color: #16243e;
    --word-color: #ffffff;;
    --title-color: #929292;
    --box-shadows: 0 0 10px rgba(255, 255, 255, 0.673);
    --media-icons: #561414;
    --text-color: #ffffff;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    line-height: 1.6;
}

p {
    color: var(--text-color);
}

.imagesEx img{
    background-color: var(--background-color);
    border-radius: 8px;
    box-shadow: var(--box-shadows);
    padding: 10px;
    margin: 20px;
    box-sizing: border-box;
}

.text-box p{
    display: inline-block;
    background-color: var(--background-color);
    border-radius: 8px;
    box-shadow: var(--box-shadows);
    padding: 10px;
    margin: 20px;
}

.text-box, .imagesEx {
    display: block;
}


.text {
    font-size: 20px;
}

.moreText {
    display: none;
}

.moreText .contact-form {
    display: none;
}

.contact-form {
    margin: 0 auto;
 
}
  
.form-group {
    display: grid;
    align-items: center;
    margin-bottom: 15px;
    width: 20%;
}
  
label {
    flex: 1; 
    padding-right: 10px;
   
}
  
input, textarea {
    flex: 2; 
    padding: 8px;
    width: 100%;
}

.button {
    padding: 15px 25px;
    background-color: var(--button-color);
    border: none;
    outline: none;
    cursor: pointer;
    color: var(--word-color);
    font-size: 15px;
    font-weight: bold;
    border-radius: 10px;
}

.text.show-details .moreText {
    display:inline;
}

header {
    background-color: var(--header-footer-color);
    color: var(--word-color);
    padding: 20px;
    text-align: center;
}

footer {
    background-color: var(--header-footer-color);
    color: var(--word-color);
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    bottom: 0;
    width: 100%;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 0 10px;
}

nav ul li a {
    position: relative;
    color: var(--word-color);
    text-decoration: none;
    font-weight: bold;
}

nav ul li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px; 
    background-color: var(--background-color); 
    transition: width 0.3s ease; 
}

nav ul li a:hover::after {
    width: 100%; 
}

section {
    padding: 20px;
    margin: 20px;
    background-color: var(--background-color);
    border-radius: 8px;
    box-shadow: var(--box-shadows); 
}

h2 {
    color: var(--title-color);
}

.media-icons a {
    font-size: 3em; 
    text-decoration: none; 
    color: var(--media-icons); 
    display: inline;
    padding-right: 10px;
}

#darkModeSwap {
    font-size: 32px;
    height: 50px;
    width: 50px;
    padding: 0;
    border-radius: 50%;
    background-color: #5d5d5d;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 20px;
    right: 20px;
    border: none;
    color: #888888;
    cursor: pointer;
}

#darkModeSwap i:last-child {
    display: none;
}

.darkmode #darkModeSwap i:first-child{
    display: none;
}

.darkmode #darkModeSwap i:last-child {
    display: block;
}

#email-error {
    color: red;
}

/* Media Queries for Mobile Devices */
@media only screen and (max-width: 600px) {
    header, footer {
        padding: 10px;
    }

    nav ul li {
        display: block;
        text-align: center;
        margin: 5px 0;
    }

    section {
        padding: 10px;
        margin: 10px;   
    }

    .distant-space {
        min-height: 80px; 
    }

    .contact-form {
        margin: 0 auto;
     
    }
      
    .form-group {
        display: grid;
        align-items: center;
        margin-bottom: 15px;
        width: 20%;
    }
      
    label {
        flex: 1; 
        padding-right: 10px;
       
    }
      
    input, textarea {
        flex: 1;
        padding: 8px;
        width: 200%;
    }

    #message {
        width: 400%;
    }

}